@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
body{
	font-size: 16px;
	line-height: 22px;
	color:#283136;
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
}
h1{
	font-size: 36px;
	line-height: 36px;
	color:#000000;
	font-weight: 500;
	font-family: "Roboto";
	margin: 0;
}
h2{
	font-size:18px;
	line-height: 30px;
	color:#000;
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
	text-transform: uppercase;
}
h3{
	font-size:16px;
	line-height: 22px;
	color:#283136;
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
	text-transform: uppercase;
}
.partners img{
	opacity: 0.2;
}
.partners img:hover{
	opacity: 1;
}


.container{
	margin:0 auto;
	width:880px;
}
/*HEADER*/
.header-bg{
	background:#eee;
	min-width: 880px
}
.main-header{
	margin-bottom: 43px;
}
.logo{
	float:left;
	width: 140px;
}
.main-menu{
	float:left;
	width: 480px;
	margin-left: 160px;
}
.user-block{
	float: right;
	max-width: 100px;
}
.logo a{
	display: block;
	padding-top:27px;
}
.main-menu li{
	display: inline-block;
	font-size: 16px;
}
.main-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.main-menu a{
	position: relative;
	display: block;
	padding:60px 20px 5px;
	color:#000;
	text-transform: uppercase;
	text-decoration: none;
}
.main-menu .active:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 2px;
	background: #fb565a;
}  
.basket{
	display: block;
	padding: 60px 0px 5px;
	color:#000;
	text-transform: uppercase;
	text-decoration: none;
}
.basket i{
	margin-right: 2px;
	color: #a6a6a6;

}
.main-header a:hover, .main-header a:hover i{
	color:#fb565a;

}
.main-header a:active, .main-header a:active i{
	color:#ababab;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*SLIDER*/
.slider{
	position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
    
}
.slider input[type=radio] {
    display: none;    
}
.overflow{
	overflow: hidden;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:9000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:#fff;
    border:3px solid #fff;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.inner{
	width:300%;
}
.slide{
	width:880px;
	float:left;
}
.content-slide{
	width:480px;
	float:left;
}
.slide img{
	margin-top: 10px;
}
.slide:last-child img{
	margin-top: 0px;
}
.slide h1{
	font-size:36px;
    line-height:1;
    font-weight:500;
    color:#000;
    margin: 35px 0px 20px;
}
.slide p{
	margin-bottom:20;
	padding: 0
}
.slide .btn{
	width: 240px;
} 
.slide img{
	float:right;
}
#btn-1:checked ~ .inner{
margin-left: 0;
}
#btn-2:checked ~ .inner{
margin-left: -100%;
}
#btn-3:checked ~ .inner{
margin-left: -200%;
}
.btn{
    display:block;
    padding:10px 0;
    margin-top:30px;
    font-size:12px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.btn:hover{
	background-color: #d6494d;
}
.btn:active{
	background-color: #b63538;
	box-shadow:inset 0 3px 0 0 #9b2d30;
}
/*SERVICES*/
.services{
	margin-top:80px;
	border-bottom: 2px solid #eeeeee;
}
.services-item{
	float:left;
	width:240px;
	height:379px;
	margin-right: 80px;
	
}
.services-item .btn{
	width: 140px;
}
.btn-green{
	background:#00ca74;
}
.btn-yellow{
	background: #efc84a;
}
.services-item p{
	font-size: 15px;
}
.services-item:last-child{
	float:right;
	margin-right: 0;
}
.btn-green:hover{
	background: #01a25e;
}
.btn-green:active{
	background: #009053;
	box-shadow:inset 0 3px 0 0 #007b47;
}
.btn-yellow:active{
	background: #c09b24;
	box-shadow:inset 0 3px 0 0 #a3841f;
}




/*STUDIO*/
.studio-left{
	width: 620px;
	float:left;
	
}
.studio h1{
	margin-top: 70px;
}
.studio-right{
	float:right;
	width: 240px;
	margin-top: 59px;
}
.studio-right img{
margin-bottom:62px;	
}
.studio{
	min-height: 472px;
	border-bottom: 2px solid #eeeeee;
}
.studio p{
	margin-bottom: 50px;
}
.studio ul{
list-style: none;
margin:0;
padding: 0;
}
.studio li{
padding-left:36px;
margin-bottom:26px;
}
.studio li:before{
	content: "";
	position: relative;
	display: block;
	width:26px;
	top:10px;
	left:-36px;
	border-bottom: 2px solid #fb565a;
}
/*PARTNERS*/
.partners{
	height: 166px;
	border-bottom: 2px solid #eeeeee;
	line-height: 166px;
	word-spacing: 120px;
	padding-left: 12px;
}
.partners img{
	display:inline-block;
	vertical-align: middle;
}

/*MAP*/
.map{
	margin-top:85px;
	background:#e9e5dc url('../img/map.jpg') no-repeat center;
	height: 516px;
}
.map .container{
	position: relative;
}
address{
	width: 230px;
	height:240px;
	position: absolute;
	padding-left: 20px;
	top:89px;
	background-color:#fff;
	font-style: normal;
}
address .btn{
	position: absolute;
	bottom: 26px;
	left:23px;
	right: 23px;
}



/*FOOTER*/
.footer-social{
	width: 320px;
	float: left;
	min-height: 216px;
}
.discount{
	float: right;
	min-height: 216px;
}
.social-btn{
	display: block;
	float: left;
	margin-top: 77px;
	margin-right: 27px;
	width: 62px;
	height: 62px;
	background-color: #e1e1e1;
	border-radius:50%;
}
.social-btn:hover{
	background-color: #fb565a;
}
.social-btn:active{
	background-color: #d6494d;
	box-shadow: inset 0 3px 0 0 #b63e42;
}
.social-btn i{
	display: block;
	margin: 0;
	font-size:25px;
	color:#fff;
	text-align: center;
	vertical-align: middle;
	line-height: 62px;
}
.discount h1{
	margin-top:77px;
}

/*INNER*/

.shop-title{
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
	padding:27px 0 80px;
	margin-bottom: 80px;
}
.catalog-column-left{
	float: left;
	width: 240px;
}
/*RANGE_FILTER*/
.range-filter{
	width: 240px;
}
.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 20px;
    background:#f1f1f1;
    border-radius:5px;
    overflow:hidden;
}
.range-controls .scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.range-controls .bar{
    height:2px;
    background:#00ca74;
}
.range-controls .toggle{
    position:absolute;
    top:30px;
    left:20px;
    width:4px;
    height:4px;
    border:8px solid #fff;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
    box-shadow:0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle{
    left:140px;
}
.catalog-column-left h2{
	margin-top: 0;
}
.price-controls input{
    width:60px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    background:#f1f1f1;
    font-size:16px;
    font-family:'Roboto',Arial, sans-serif;
    font-weight:300;
    font-style:normal;
    text-align:center;
    color:#283136;
    border-radius:5px;
}
.price-controls{
	position: relative;
	height: 32px;
	padding:0;
	margin-bottom: 50px;
}
.price-controls .min-price{
	position: absolute;    
    left: 0;
    margin: 0;
}
.price-controls .max-price{
    position: absolute;
    right: 0;
    margin: 0;
}


.catalog-column-right{
	float: right;
	width:560px;
}
.card-product{
	float: left;
	margin-bottom: 80px;
	width: 240px;
}
.card-product:nth-child(even){
	float: right;
}
.browser{
	height: 30px;
	background: #f1f1f1;
	border-radius:3px 3px 0 0;
	box-sizing:border-box;
	padding-top:10px;
	padding-left: 12px;
}
.browser .circle{
	float:left;
	width: 10px;
	height: 10px;
	margin-right: 7px;
	background: #fff;
	border-radius: 50%;
}
.catalog-column-left input[type="radio"],.catalog-column-left input[type="checkbox"]{
	display: none;
}
.catalog-column-left ul{
	list-style: none;
	margin:0;
	padding:0;
	margin-bottom: 55px;
}
.catalog-column-left li{
	margin-bottom:25px;
}
.catalog-column-left label{
	display: block;
	position: relative;
	margin-left: 35px;
	vertical-align: middle;
	color: #283136;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}
.catalog-column-left label:hover{
	color: #000;
}
.catalog-column-left label:hover:before{
	color: #b5b5b5 !important;
}
.catalog-column-left input:disabled+label{
	opacity: 0.4;
}
.catalog-column-left input[type="radio"]+label:before{
	content: '\25cb';
	display: block;
	position: absolute;
	left:-35px;
	vertical-align: middle;
	color: #c1c1c1;
	font-family: symbols-nerds;
	font-size: 30px;
	margin-right: 10px;
}
.catalog-column-left input[type="radio"]:checked+label:before{
	content: '\25cf';
	display: block;
	position: absolute;
	left:-35px;
	vertical-align: middle;
	font-family: symbols-nerds;
	font-size: 30px;
	margin-right: 10px;
}
.catalog-column-left input[type="checkbox"]+label:before{
	content: '\2610';
	display: block;
	position: absolute;
	left:-35px;
	vertical-align: middle;
	color: #c1c1c1;
	font-family: symbols-nerds;
	font-size: 25px;
	margin-right: 10px;
}
.catalog-column-left input[type="checkbox"]:checked+label:before{
	content: '\2611';
	display: block;
	position: absolute;
	left:-35px;
	vertical-align: middle;
	font-family: symbols-nerds;
	font-size: 25px;
	margin-right: 10px;
	width:10px;
}
.btn-form{
	padding:10px 33px;
	background: #f1f1f1;
	color:#000;
	border:none;
}
.btn-form:hover{
	background: #e5e5e5;
}
.btn-form:active{
	background: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}
.btn-form:focus{
	outline: none;
}
.paginator{
	float: left;
	margin-left: 320px;
	list-style: none;
	padding: 0;
	font-size: 0;
}
.paginator li{
 	display:inline-block;
 	vertical-align: top;
 	margin-right: 10px;
}
.btn-paginator{
	display: block;
	width: 36px;
	height: 36px;
	background:#f1f1f1;
	color:#000;
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	text-decoration: none;
}
.next{
	width: 140px;
}
.paginator .active{
	width: 34px;
	height: 34px;
	background:#fff;
	border:2px solid #f1f1f1;
	border-radius: 2px;
}
a.btn-paginator:hover{
	border-color: #e5e5e5;
	background: #e5e5e5;
}
a.btn-paginator:active{
	border-color: #d5d5d5;
	background: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}
/*SORTED*/
.sorted{
	position: relative;
	margin-bottom: 21px;
	font-family: "Roboto",Arial,sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.sorted span{
	margin-right:40px;
}
.sorted ul{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.sorted li{
	display: inline-block;
	vertical-align: top;
	margin-right: 45px;
}
.sorted a{
	font-size: 12px;
	text-decoration: none;
	color:#000;
	opacity: 0.3;
	border-bottom:1px dotted #00ca74;
}
.sorted a:hover{
	opacity: 1;
	border-bottom:1px solid #00ca74;
}
.sorted a:active{
	opacity: 1;
	border-bottom:none;
	margin-bottom:1px;
}
.query{
	position: absolute;
	right: 0;
	top: 0;
}
.query a{
	margin:0;
	border:none;
	font-size: 18px;
}
.query a:hover{
	color: #000;
	opacity: 0.3;
	border:none;
}
.query a:active{
	opacity: 1;
}
.query .active{
	color: #00ca74;
	opacity: 1;
}
.modal-content{
	position: absolute;
	top:0;
	left:50%;
	width: 630px;
	margin-top:380px;
	margin-left:-315px;
	padding: 55px 90px 50px 80px;
	background: #fff;
	box-sizing:border-box;
	box-shadow: 0px 20px 40px 0px rgba(0,0,0,.75);
}
.modal-content-close{
	position: absolute;
	top:6px;
	right: 6px;
	width: 42px;
	height: 42px;
	margin: 0;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	background: #fb565a url("../img/close.png") no-repeat center;
	border-radius: 50%;
}
.email-form input[type="text"],
.email-form input[type="email"],
.email-form textarea{
	width: 220px;
	margin: 10px 0px;
	padding: 10px 15px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color:#000;
	outline: none;
	box-sizing:border-box;
	border:2px solid #d7dcde;
	border-radius:3px;
}
.email-form textarea{
	width: 460px;
	height: 114px;
}
.modal-content .form-column-left{
	display: block;
	float:left;
}
.modal-content .form-column-right{
	display: block;
	float:right;
}
.email-form button[type="submit"],
.email-form a{
	width: 220px;
	outline: none;
	border:none;
	margin-top: 38px;
	box-sizing:border-box;
}