body{
	font-size: 16px;
	line-height: 22px;
	color:#283136;
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
}
h1{
	font-size: 36px;
	line-height: 36px;
	color:#000000;
	font-weight: 500;
	font-family: "Roboto";
}
h2{
	font-size:18px;
	line-height: 30px;
	color:#000000;
	font-weight: 500;
	font-family: "Roboto";
	text-transform: uppercase;
}
h3{
	font-size:16px;
	line-height: 22px;
	color:#283136;
	font-weight: 500;
	font-family: "Roboto";
	text-transform: uppercase;
}
.partners img{
	opacity: 0.2;
}
.partners img:hover{
	opacity: 1;
}


.container{
	margin:0 auto;
	width:880px;
}
/*HEADER*/
.header-bg{
	background:#eee;
	min-width: 880px
}
.main-header{
	margin-bottom: 40px;
}
.logo{
	float:left;
	width: 140px;
	outline: 2px solid red;
}
.main-menu{
	float:left;
	width: 480px;
	margin-left: 160px;
	outline: 2px solid red;
}
.user-block{
	float: right;
	max-width: 100px;
	outline: 2px solid red;
}
.logo a{
	display: block;
	padding-top:27px;
}
.main-menu li{
	display: inline-block;
	font-size: 16px;
}
.main-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.main-menu a{
	position: relative;
	display: block;
	padding:60px 20px 5px;
	color:#000;
	text-transform: uppercase;
	text-decoration: none;
}
a.active:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 2px;
	background: #fb565a;
}  
.basket{
	display: block;
	padding: 60px 0px 5px;
	color:#000;
	text-transform: uppercase;
	text-decoration: none;
}
.main-header a:hover{
	color:#fb565a;
}
.main-header a:active{
	color:#ababab;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*SLIDER*/
.slider{
	position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
    outline: 2px solid red;
}
.slider input[type=radio] {
    display: none;    
}
.overflow{
	overflow: hidden;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:9000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:#fff;
    border:3px solid #fff;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.inner{
	width:300%;
}
.slide{
	width:880px;
	float:left;
}
.content-slide{
	width:480px;
	float:left;
}
.slide img{
	margin-top: 10px;
}
.slide:last-child img{
	margin-top: 0px;
}
.slide h1{
	font-size:36px;
    line-height:1;
    font-weight:500;
    color:black;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:30px;
    font-size:12px;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide img{
	float:right;
}
#btn-1:checked ~ .inner{
margin-left: 0;
}
#btn-2:checked ~ .inner{
margin-left: -100%;
}
#btn-3:checked ~ .inner{
margin-left: -200%;
}




.services{
	margin-top:80px;
	border-bottom: 2px solid #eeeeee;
}
.services-item{
	float:left;
	width:240px;
	height:379px;
	margin-right: 80px;
	outline: 2px solid red;
}
.services-item:last-child{
	float:right;
	margin-right: 0;
}
.studio-left{
	
	width: 620px;
	float:left;
	outline: 2px solid red;
}
.studio-right{
	float:right;
	width: 240px;
	margin-top: 59px;
	outline: 2px solid red;
}
.studio{
	height: 472px;
	border-bottom: 2px solid #eeeeee;
	outline: 2px solid red;
}
.partners{
	height: 166px;
	border-bottom: 2px solid #eeeeee;
	line-height: 166px;
	word-spacing: 120px;
	padding-left: 12px;
}
.partners img{
	display:inline-block;
	vertical-align: middle;
}
.map{
	margin-top:85px;
	background-color: #e9e5dc;
	background-image: url('img/map.jpg');
	height: 516px;
	padding-top: 1px;	
}

.map .container{
	position: relative;
}
address{
	width: 250px;
	height:240px;
	position: absolute;
	top:89px;
}
.footer-social{
	width: 320px;
	float: left;
	outline: 2px solid red;
	min-height: 216px;
}
.discount{
	float: right;
	outline: 2px solid red;
	min-height: 216px;
}



/*INNER*/

.shop-title{
	outline: 2px solid red;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
	margin:0;
	padding:74px 0 94px;

}
.catalog-column-left{
	float: left;
	width: 240px;
	outline: 2px solid red;
}
.catalog-column-right{
	float: right;
	width:560px;
	outline: 2px solid red;
}
.card-product{
	float: left;
	margin-bottom: 80px;
	outline: 2px solid red;
}
.card-product:nth-child(even){
	float: right;
}
.paginator{
	float: left;
	margin-left: 320px;
	outline: 2px solid red;
}